@mixin flex-container ($direction: row, $spacing: space-between , $alignment: flex-end   ) {
  display: flex;
  flex-direction: $direction;
  justify-content: $spacing;
  align-items: $alignment;
}

.input-wrapper {
  @include flex-container($direction: row, $spacing: flex-start, $alignment: center    );
}

.input-wrapper input {
  flex: 1 0 250px;
}

.side-by-side {
  @include flex-container();
}

input, select {
  height: 2em;
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
}

label {
  margin-bottom: 10px;
  margin-left: 10px;
}