@import "arrow";

$size: 30px;

@each $pos in $positions {
  .arrow--#{$pos} {
    @include arrow(paleturquoise, palevioletred, $size, $pos);
    margin: 50px 0;
  }
}

.page {
  max-width: 900px;
  margin: 0 auto;
  font-size: 20px;
  font-family: sans-serif;
}

p {
  text-align: center;
}
