.arrow--top {
  position: relative;
  background: paleturquoise;
  border: 4px solid palevioletred;
  padding: 20px;
  max-width: 150px;
  display: inline-block;
  margin: 50px 0; }
  .arrow--top:after, .arrow--top:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .arrow--top:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: paleturquoise;
    border-width: 30px;
    margin-left: -30px; }
  .arrow--top:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: palevioletred;
    border-width: 36px;
    margin-left: -36px; }

.arrow--right {
  position: relative;
  background: paleturquoise;
  border: 4px solid palevioletred;
  padding: 20px;
  max-width: 150px;
  display: inline-block;
  margin: 50px 0; }
  .arrow--right:after, .arrow--right:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .arrow--right:after {
    border-color: rgba(136, 183, 213, 0);
    border-left-color: paleturquoise;
    border-width: 30px;
    margin-top: -30px; }
  .arrow--right:before {
    border-color: rgba(194, 225, 245, 0);
    border-left-color: palevioletred;
    border-width: 36px;
    margin-top: -36px; }

.arrow--bottom {
  position: relative;
  background: paleturquoise;
  border: 4px solid palevioletred;
  padding: 20px;
  max-width: 150px;
  display: inline-block;
  margin: 50px 0; }
  .arrow--bottom:after, .arrow--bottom:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .arrow--bottom:after {
    border-color: rgba(136, 183, 213, 0);
    border-top-color: paleturquoise;
    border-width: 30px;
    margin-left: -30px; }
  .arrow--bottom:before {
    border-color: rgba(194, 225, 245, 0);
    border-top-color: palevioletred;
    border-width: 36px;
    margin-left: -36px; }

.arrow--left {
  position: relative;
  background: paleturquoise;
  border: 4px solid palevioletred;
  padding: 20px;
  max-width: 150px;
  display: inline-block;
  margin: 50px 0; }
  .arrow--left:after, .arrow--left:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .arrow--left:after {
    border-color: rgba(136, 183, 213, 0);
    border-right-color: paleturquoise;
    border-width: 30px;
    margin-top: -30px; }
  .arrow--left:before {
    border-color: rgba(194, 225, 245, 0);
    border-right-color: palevioletred;
    border-width: 36px;
    margin-top: -36px; }

.page {
  max-width: 900px;
  margin: 0 auto;
  font-size: 20px;
  font-family: sans-serif; }

p {
  text-align: center; }
