@mixin flex-container ($direction: row, $spacing: space-between, $alignment: null) {
  display: flex;
  flex-direction: $direction;
  justify-content: $spacing;
  align-content: $alignment;
  flex-flow: wrap;
}

.input-wrapper {
  @include flex-container($direction: row, $spacing: space-around, $alignment: flex-start);
}

.input-wrapper input {
  flex: 1 0 250px;
}

.side-by-side {
  @include flex-container();
}